.card {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin: 24px 12px 0px 12px;
}

.ant-card-meta-title {
  text-align: left;
}

.ant-card-meta-description {
  text-align: left;
}

.ant-card-actions > li {
  float: left;
  text-align: center;
  margin: 0px;
  color: rgba(0, 0, 0, 0.45);
}

.ant-card-actions > li > span {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  line-height: 22px;
  min-width: 100%;
  position: relative;
  display: block;
  line-height: 47px;
}

.ant-card-body {
  display: none;
}

.icon-div {
  cursor: pointer;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none;  /*webkit浏览器*/
  -ms-user-select: none;   /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}

@media only screen and (min-width: 320px) {
  .card {
    margin: 24px 0px 0px 0px;
    display: block;
  }
  .card img {
    width: 100%;
  }
}

@media only screen and (min-width: 375px) {
  .card {
    margin: 24px 0px 0px 0px;
    display: block;
  }
  .card img {
    width: 100%;
  }
}

@media only screen and (min-width: 414px) {
  .card {
    margin: 24px 0px 0px 0px;
    display: block;
  }
  .card img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    vertical-align: top;
    display: inline-block;
    margin: 24px 12px 0px 12px;
  }
  .card img {
    width: 100%;
  }
}