.card {
  width: 25%;
  height: 150px;
  margin-top: 15px;
  max-width: 310px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  cursor: pointer;
}

.card-warpper {
  border: 1px solid #d9d9d9;
  height: 150px;
  background-color: #fff;
  text-align: center;
}

.card-content {
  margin-top: 24px;
  font-size: 24px;
}

.card-title {
  color: #337ab7;
  text-decoration: none;
  margin-bottom: 0px;
}