@import "./../../public/public.less";
.home {
  height: 100%;
  background-color: #fff;
}

.home-warrper {
  height: 100%;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}



@media (max-width: 1200px) {
  .home-warrper {
    width: 1170px;
  }
}

@media (max-width: 992px) {
  .home-warrper {
    width: 970px;
  }
}

@media (max-width: 768px) {
  .home-warrper {
    width: 750px;
  }
}