.home-section {
  margin: 0px auto;
  max-width: 1010px;
}

.card-div {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}

.loading-spin {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 320px) {
  
}

@media only screen and (min-width: 375px) {
  
}

@media only screen and (min-width: 414px) {
  
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1280px) {
  
}