@keyframes myfirst {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.cardDiv-div {
  animation: myfirst 2s;
}

:global(.ant-spin-spinning) {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardDiv {
  text-align: center;
}


@media only screen and (min-width: 320px) {
  .cardDiv {
    text-align: unset;
  }
}

@media only screen and (min-width: 375px) {
  .cardDiv {
    text-align: unset;
  }
}

@media only screen and (min-width: 414px) {
  .cardDiv {
    text-align: unset;
  }
}

@media only screen and (min-width: 768px) {
  .cardDiv {
    text-align: center;
  }
}