.icon {
  font-size: 28px;
  color: #3089DC;
}

.user {
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
  height: 54px;
}

.images {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.logo {
  background-image: url(//downfuture.com/favicon.png);
  background-size: 100%;
  width: 54px;
  height: 54px;
  background-position-y: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}