.icon {
  font-size: 28px;
  border: 0 solid #3f3f3f;
  color: #003569;
}

.header {
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  height: 77px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  position: relative;
}

.header .header-div {
  margin: 0 auto;
  padding: 0px 40px;
  max-width: 1010px;
}

.header-div .header-div-row {
  height: 77px;
}

.header-input {
  width: 100%;
}

.header-row-col-compass {
  margin-right: 30px;
  cursor: pointer;
}

.header-row-col-user {
  cursor: pointer;
}

.ant-layout-header {
  line-height: 0px;
  padding: 0px;
}

.images {
  width: 28px;
  height: 28px;
  vertical-align: sub;
  border-radius: 100%;
}

.logo {
  background-image: url(//img.downfuture.com/favicon.png);
  background-size: 100%;
  width: 50px;
  height: 50px;
  background-position-y: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-row-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}