.preview-wrapper {
  height: 100%;
}

.preview-content {
  padding: 24px;
  background-color: #fff;
  height: 100%;
  text-align: center;
}

.preview-btn {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}